# Database (MongoDB Atlas / Local MongoDB connection string)
MONGODB_URI="mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/rajasthan_sport?retryWrites=true&w=majority"

# NextAuth Configuration
NEXTAUTH_SECRET="rajasthan-aeroskatoball-secret-key-2026-production-grade"
NEXTAUTH_URL="http://localhost:3000"

# Admin Initial Credentials (for seeding)
ADMIN_INITIAL_EMAIL="admin@rajasthanaeroskatoball.org"
ADMIN_INITIAL_PASSWORD="admin123"
